<div class="footer">
    <div class="footer__texts">
      <div class="footer__texts-grup">
        <div>
          <div class="fofosaof">
            <a href="https://notech-company.vercel.app" target="_blank">
              <img
                src="https://notech-company.vercel.app/assets/icons/notechblack.png"
                class="footer__imagenes-img"
              />
            </a>
            <p>contacto.notech@gmail.com</p>
          </div>
        </div>
        <div class="footer__imagenes"></div>
      </div>
      <div class="footer__texts-copy">
        <p>© Taskker 2024. All rights reserved.</p>
      </div>
    </div>
  </div>