<div>
  <h2>soy semana : 23/02</h2>
  <div>
    <app-navigator (dataNavigation)="recibirDatosDelHijo($event)" />
  </div>
</div>

<div class="grid" *ngIf="week">
  <h2>spy wek</h2>
  <div class="grid-header">
    <div class="grid-cell"></div>
    <div class="grid-days days" *ngFor="let dayData of gridData; let i = index">
      <div class="day-with-hover">
        <span class="hover-day">{{ dayData.day }}</span>
        <span class="hover-text">{{ weeks[i]?.dayName }}</span>
      </div>
    </div>
  </div>

  <div class="internal-row">
    <div class="grid-row" *ngFor="let hour of hours; index as i">
      <div class="grid-time">{{ hour.title }}</div>
      <div class="grid-cell" *ngFor="let dayData of gridData; let j = index">
        <div *ngIf="checkTaskForHour(hour.time, dayData)" class="grilla">
          <div *ngFor="let task of tasks" class="datas">
            <button
            class="close"
              (click)="deleteTask(task.id)"
              *ngIf="
                task.start ===
                generateDatoToCreateTask(hour.time, dayData, weeks)
              "
            >
              x
          </button>

            <div (click)="editTaskIfExists(task.id, task)" >
              <p
                *ngIf="
                  task.start ===
                  generateDatoToCreateTask(hour.time, dayData, weeks)
                "
              >
                {{ task.text }}
              </p>
            </div>
          </div>
        </div>
        <div
          *ngIf="!checkTaskForHour(hour.time, dayData)"
          (click)="createTask(hour.time, dayData, weeks)"
          class="grilla"
        >
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid" *ngIf="month">
  <h2>spy month</h2>
</div>

<div class="grid" *ngIf="day">
  <h2>spy day</h2>
</div>

<div *ngIf="showModal">
  <app-modal
    (taskCreated)="onTaskCreated($event)"
    (modalClosed)="onModalClosed()"
    [dateToTask]="dateToTask"
  ></app-modal>
</div>

<div *ngIf="showModalEdit">
  <app-modal-edit
    (taskCreated)="onTaskCreated($event)"
    (modalEditClosed)="onModalEditClosed()"
    [dataToEdit]="dataToEdit"
  ></app-modal-edit>
</div>
