<div class="home fade-in">
    <div class="home__contenedor">
      <div class="home__principal">
        <div class="home__principal-contenedor">
          <div class="text-title">
            <h3 class="title">Sobre nosotros</h3>
            <p class="parrap">
                Somos Tasker, un equipo comprometido con la simplificación de la gestión de tareas diarias. Nuestra misión es proporcionar una plataforma versátil y eficiente que permita a individuos y equipos organizar, editar y manipular tareas de manera sencilla. Con un enfoque en la usabilidad y la funcionalidad, estamos aquí para ayudarte a hacer más en menos tiempo. ¡Únete a nosotros y descubre una nueva forma de gestionar tus actividades!            </p>
          </div>
          
        </div>
      </div>
    </div>
    <div class="home__inferior">
    </div>
  </div>
  