<div class="container">
  <div class="divTitle">
    <h2 class="title">Optimice la gestión de su dinero</h2>
    <p class="parragraph-title">
      Obtenga información valiosa sobre sus hábitos de gasto, tome decisiones
      financieras informadas y alcance sus objetivos financieros.
    </p>
  </div>
  <div class="div">
    <div class="intern-div">
      <img
        class="img"
        src="https://assets-global.website-files.com/6455bb365e4a439e59c71b72/648ba8af049e3ede202aaef8_checkbook-register.png"
      />
    </div>
    <div class="intern-div">
      <h3 class="intern-title">Registro de chequera</h3>
      <p class="intern-parragarph">
        Capture y mantenga un registro detallado de sus transacciones
        financieras, ya sean compras, pagos o ingresos. Manténgase organizado e
        informado mediante el seguimiento de las transacciones pendientes y
        liquidadas, lo que le permitirá obtener una descripción general completa
        de sus finanzas.
      </p>
    </div>
  </div>
  <div class="div2">
    <div class="intern-div">
      <img
      class="img"
      src="https://assets-global.website-files.com/6455bb365e4a439e59c71b72/648ba9866ceafa173933ea39_bill-tracker-img.png"
      />
    </div>
    <div class="intern-div">
      <h3 class="intern-title">Rastreador de facturas</h3>
      <p class="intern-parragarph">
        Simplifique la gestión de sus facturas y supervise sin esfuerzo todas
        sus facturas en una sola aplicación. Obtenga una descripción general
        completa de sus próximas facturas y sus fechas de vencimiento
        correspondientes, incluso reciba una notificación cuando venza una
        factura, lo que garantiza que nunca más volverá a perder un pago.
      </p>
    </div>
  </div>
</div>
